{% extends 'base.html' %}

{% block content %}

    <div class="list-group">
        <div class="list-group-item">
            <h2>Cat Toy List</h2>
        </div>
        {% for cattoy in cattoys %}
            <div class="list-group-item">
                <a href="{% url 'cattoys_show' cattoy.id %}">
                        <p>{{ cattoy.name }}</p>                        
                </a>
                <p>Color: {{ cattoy.color }}</p>
            </div>
        {% endfor %} 
    </div>

{% endblock %}