{% extends 'base.html' %}

{% block content %}

    <h2>{{ username }}'s collection:</h2>

    <div class="list-group">
        {% for cat in cats  %}
        <div class="list-group-item">
            <a href="/cats/{{cat.id}}">
                <h3>{{ cat.name }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="list-group list-group-horizontal text-center">
        <div class="list-group-item list-group-item-action flex-fill">
            <a href="/cats/create/">Adopt a new cat</a>
        </div>
        <div class="list-group-item list-group-item-action flex-fill">
            <a href="/cattoys/create/">Make a new toy</a>
        </div>
    </div>

{% endblock%}