{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="card text-center">
      <div class="card-header">
        <h2>{{cat.name}}</h2>
      </div>
      <div class="card-body">
        <p>Breed: {{cat.breed}}</p>
        <p>Description: {{cat.description}}</p>
        <p>Age: {{cat.age}} years old</p>

        <a class="btn" href="{% url 'cats_update' cat.id %}">Update Details</a>
        <a class="btn" href="{% url 'cats_delete' cat.id %}">Delete This Cat</a>
      </div>
      <div class="card-footer">
        <a href="/user/{{cat.user.username}}">Owned by {{ cat.user.username }}</a>
      </div>
    </div>

    <div class="row">
        <div class="col s6">
          <h3>{{ cat.name }}'s Toys</h3>
          {% if cat.cattoys.count %}
            {% for toy in cat.cattoys.all %}
              <div class="list-group list-group-horizontal">
                <div class="list-group-item flex-fill">
                  <span class="card-title">
                    A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
                  </span>
                </div>
                <form action="{% url 'unassoc_toy' cat.id toy.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="list-group-item flex-fill list-group-item-action">Remove</button>
                </form>
              </div>           
            {% endfor %} 
          {% else %}
            <h5>No Toys :(</h5>
          {% endif %}
        </div>
        <!-- Available toys will come after this line -->
        <div class="col s6">
          <h3>Available Toys</h3>
          {% if toys.count %}
            <div class="list-group">
              {% for toy in toys.all %}
                  <form action="{% url 'assoc_toy' cat.id toy.id %}" method="post">
                      {% csrf_token %}
                    <button type="submit" class="list-group-item list-group-item-action" >
                      <span>
                        A 
                        <span style="color: {{ toy.color }}">{{ toy.color }}
                        </span> 
                        {{ toy.name }}
                      </span>
                    </button>
                  </form>            
              {% endfor %}
            </div>
          {% else %}
            <h5>{{cat.name}} Already Has All Toys Available</h5>
          {% endif %}
        </div>
    </div>
{% endblock %}